body {
  margin: 0;
}
header {
  text-align: center;
  grid-area: 1 / 1 / 2 / 3;
  background-color: #870101;
}
#grid-container {
  height: 100vh;
  display: grid;
  grid-template: 40px 1fr / 300px 1fr;
}
.grid-content {
  padding: 2%;
  grid-area: 2 / 2 / 3 / 3;
}
.grid-sidebar .sidebar-projectList {
  list-style-type: none;
}
.grid-sidebar .sidebar-projectList li {
  margin-block: 10px;
}
