@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4rQwCwM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc8WAf5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/varela/v16/DPEtYwqExx0AWHXJBA.ttf) format('truetype');
}
body {
  margin: 0;
  background: black;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: 'Evo', sans-serif;
}
header {
  text-align: center;
  grid-area: 1 / 1 / 2 / 3;
  background-color: #870101;
}
footer {
  display: flex;
  align-items: center;
  background-color: #2b2b2b;
  position: absolute;
  bottom: 0;
  height: 3%;
  width: 84%;
  padding-left: 1%;
}
footer #new-task:hover {
  cursor: pointer;
  transition-property: transform;
  transition-duration: 200ms;
  transform: scale(1.1);
}
.taskDescription {
  color: #a4a4a4;
}
#exit_task {
  position: relative;
  top: 50px;
  left: 93%;
}
#projectTitle {
  padding: 2%;
}
#grid-container {
  height: 100vh;
  display: grid;
  grid-template: 40px 1fr / clamp(150px, 15%, 300px) 1fr;
}
.complete {
  color: #76e976;
  text-decoration: line-through;
}
.task-form-container {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 50%;
  width: 35%;
}
.task-form-container .task-form {
  display: grid;
  grid-template: 2fr 2fr 200px fr 1fr / 1fr 1fr;
  gap: 1rem;
  background-color: #2f2f2f;
  text-align: center;
  border-radius: 18px;
}
.task-form-container .task-form input {
  background-color: #1c1c1c;
  color: white;
  outline: none;
  border: none;
  min-height: 2rem;
  min-width: 240px;
  text-align: center;
}
.task-form-container .task-form textarea {
  background-color: #1c1c1c;
  color: white;
  outline: none;
  border: none;
  height: 1.8rem;
  max-height: 4rem;
  width: 240px;
  max-width: 240px;
}
.task-form-container .task-form h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.4rem;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
}
.task-form-container .task-form > div label {
  display: block;
  margin-bottom: 1rem;
}
.task-form-container .task-form > * {
  align-self: flex-start;
  justify-self: center;
}
.task-form-container .task-form .task-submit-div {
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.task-form-container .task-form select {
  background-color: #1c1c1c;
  color: white;
  outline: none;
  border: none;
  padding-block: 0.5rem;
  min-width: 240px;
  text-align: center;
}
.task-form-container .task-form button {
  background-color: #1c1c1c;
  color: white;
  outline: none;
  border: none;
  padding-inline: 20px;
  padding-block: 10px;
  margin-bottom: 25px;
}
.grid-content {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-content .task-container {
  width: 90%;
  margin-inline: 2rem;
  font-family: 'Vorela', sans-serif;
}
.grid-content .task-container .task-div {
  display: flex;
  justify-content: space-between;
  background-color: #272727;
  padding: 20px;
  margin-block: 5px;
}
.grid-content .task-container .task-div .task-left {
  display: flex;
  gap: 1.5rem;
}
.grid-content .task-container .task-div .task-left .taskName {
  min-width: 15%;
}
.grid-content .task-container .task-div .task-right {
  display: flex;
  gap: 1.5rem;
}
.grid-content .task-container .task-div .task-right div:nth-child(2) {
  margin-left: 10px;
}
.grid-sidebar {
  background-color: #222222;
  font-size: 1.15rem;
  font-family: 'Nunito Sans', sans-serif;
}
.grid-sidebar .project-options {
  border-top: 3px solid white;
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-sidebar .project-options > *:hover {
  cursor: pointer;
  transition-property: transform;
  transition-duration: 200ms;
  transform: scale(1.1);
}
.grid-sidebar .sidebar-projectList {
  padding-left: 0;
  padding-top: 30%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style-type: none;
}
.grid-sidebar .sidebar-projectList li {
  margin-block: 10px;
}
.grid-sidebar .sidebar-projectList li:hover {
  cursor: pointer;
  transition-property: transform;
  transition-duration: 200ms;
  transform: scale(1.1);
}
